// fonts
$font-default: Arial;

// colors
$color-primary: var(--primary);
$color-primary-hover: var(--primary-hover);
$color-second: var(--second);
$color-second-hover: var(--second-hover);
$color-success: var(--success);
$color-success-hover: var(--success-hover);
$color-info: var(--info);
$color-info-hover: var(--info-hover);
$color-warning: var(--warning);
$color-warning-hover: var(--warning-hover);
$color-danger: var(--danger);
$color-danger-hover: var(--danger-hover);

// shadows
